<section>
  <h3>Utilisateur courant: <%=current_user.email %></h3>
  <div>Over here the main page</div>
  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
</section>
