<div>
  <h1>Liste des employés</h1>
  <%= link_to 'Ajouter un employé', new_admin_user_path %>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <ul>
        <li><%= user.id%></li>
        <li><%= link_to user.email, reports_admin_user_path(user)%></li>
      </ul>
    <% end %>
  <% else %>
      <p>Aucun employé enregistré</p>
  <% end %>

</div>