<div>
  <h1</h1>
  <%= link_to 'Les presences', attendances_path %>
  <% if @attendances.any? %>
    <% @attendances.each do |attend| %>
        <div>
          <strong>Employé:</strong> <%= attend.user.email %> <br>
          <strong>Status:</strong>
          <% if attend.status == "absent" %>
            <span style="color: red;">Absent</span>
          <% else %>
            <span style="color: green;">Present</span>
          <% end %>
          <% if attend.user == current_user %>
        <em>(Your attendance)</em>
      <% end %>
        </div>
    <% end %>
  <% else %>
      <p>No attendance records available.</p>
  <% end %>

</div>

